body {
  overflow-x: hidden;
  height:1500px;
}


.l{
  overflow:hidden;
}
/* #F53838 */
.buttonC {
  color:white;
 background-color: #F53838
}
.text1{
  font-size:11px;
}
.size1{
  width: 45%;
}
.size2{
  width:26%;
}
.left{
  margin-left:-30px;
}
@media screen and (max-width: 573px) and (min-width: 200px) {
  .container1 {
    margin-left: 24%;
  }
  .card2{
    margin-left: 10%;
  }
}

.custom-list {
  list-style-type: none;
}
.map{
  margin-left:-20px;
}

.custom-list li::before {
  content: '';
  display: inline-block;
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-image: url('https://i.postimg.cc/jd9mBHY7/Group-1223.png'); /* Replace 'your-icon-url.png' with your image URL */
  background-size: contain;
  margin-right: 5px; /* Adjust the spacing between the icon and text */
}

.Ar  {
  position:relative;
  left:22%;
  
  justify-content:space-around;
}
.Ar li{
  padding-left:7%;
 
}
.custom{
  margin-left:60%;
}
.font{
  font-size:30px;
}
.dist1{
  margin-left:-4%;
}
.footer{
  background-color:#F8F8F8;
}
.product {
  margin-bottom: 20px; /* Adjust margin-bottom as needed */
}
